<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>ShopGrids - Bootstrap 5 eCommerce HTML Template.</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.svg" />

    <!-- ========================= CSS here ========================= -->
    <!-- <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/LineIcons.3.0.css" />
    <link rel="stylesheet" href="assets/css/tiny-slider.css" />
    <link rel="stylesheet" href="assets/css/glightbox.min.css" />
    <link rel="stylesheet" href="assets/css/main.css" /> -->

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/LineIcons.3.0.css" />
    <link rel="stylesheet" href="/css/tiny-slider.css" />
    <link rel="stylesheet" href="/css/glightbox.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>


</head>

<body>
  

    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- /End Preloader -->

    <!-- Start Header Area -->
    <header class="header navbar-area">
        <!-- Start Topbar -->
        <div class="topbar">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-4 col-12">
                        <!-- <div class="top-left">
                            <ul class="menu-top-link">
                                <li>
                                    <div class="select-position">
                                        <select id="select4">
                                            <option value="0" selected>$ USD</option>
                                            <option value="1">€ EURO</option>
                                            <option value="2">$ CAD</option>
                                            <option value="3">₹ INR</option>
                                            <option value="4">¥ CNY</option>
                                            <option value="5">৳ BDT</option>
                                        </select>
                                    </div>
                                </li>
                                <li>
                                    <div class="select-position">
                                        <select id="select5">
                                            <option value="0" selected>English</option>
                                            <option value="1">Español</option>
                                            <option value="2">Filipino</option>
                                            <option value="3">Français</option>
                                            <option value="4">العربية</option>
                                            <option value="5">हिन्दी</option>
                                            <option value="6">বাংলা</option>
                                        </select>
                                    </div>
                                </li>
                            </ul>
                        </div> -->
                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="top-middle">
                            <ul class="useful-links">
                                <li><a href="/homePage">Home</a></li>
                                <li><a >About Us</a></li>
                                <li><a >Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="top-end">
                    
                            <ul class="user-login">
                                <% if(user){ %> 
                                <li>
                                    <i class="lni lni-user "></i>
                                    <a href="/profile?id=<%=user_details._id%>">Profile</a>
                                </li>
                                <li>
                                    <form class="text-decoration-none" action="/logout" method="post">
                                        <button class="btn btn-danger">logout</button>
                                      </form>
                                </li>
                                <% }else{ %> 
                                <li>
                                    <a href="/login">Sign In</a>
                                </li>
                                <li>
                                    <a href="/register">Register</a>
                                </li>
                                <% } %> 
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Topbar -->
        <!-- Start Header Middle -->
        <div class="header-middle">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-3 col-7">
                        <!-- Start Header Logo -->
                        <a class="navbar-brand" href="/homePage">
                            <img src="/images/logo/ezyshop_logo.png" alt="Logo">
                        </a>
                        <!-- End Header Logo -->
                    </div>
                    <div class="col-lg-5 col-md-7 d-xs-none">
                        <!-- Start Main Menu Search -->
                        <div class="main-menu-search">
                            <!-- navbar search start -->
                            <div class="navbar-search search-style-5">
                                <div class="search-select">
                                    <div class="select-position">
                                        <select id="select1">
                                            <option selected>All</option>
                                            <!-- <option value="1">option 01</option>
                                            <option value="2">option 02</option>
                                            <option value="3">option 03</option>
                                            <option value="4">option 04</option>
                                            <option value="5">option 05</option> -->
                                        </select>
                                    </div>
                                </div>
                                <div class="search-input">
                                    <input type="text" placeholder="Search">
                                </div>
                                <div class="search-btn">
                                    <button><i class="lni lni-search-alt"></i></button>
                                </div>
                            </div>
                            <!-- navbar search Ends -->
                        </div>
                        <!-- End Main Menu Search -->
                    </div>
                    <div class="col-lg-4 col-md-2 col-5">
                        <div class="middle-right-area">
                            <div class="nav-hotline">
                                <i class="lni lni-phone"></i>
                                <h3>Hotline:
                                    <span>(+91) 7034943897</span>
                                </h3>
                            </div>
                            <div class="navbar-cart">
                                <div class="wishlist">
                                    <% if(user){ %> 
                                        <a href="/wishlist/show?id=<%=user_details._id%>">
                                            <i class="lni lni-heart"></i>
                                            <% if(wishlist.length > 0 ){ %> 
                                            <span class="total-items"><%=wishlist.length  %></span>
                                            <% }else{ %>
                                            <span class="total-items">0</span>
                                                
                                                <% } %> 
                                        </a>
                                        <% }else{ %>
                                        <a href="/login">
                                            <i class="lni lni-heart"></i>
                                            <span class="total-items">0</span>
                                        </a>
                                        <% } %> 
                                </div>
                                <div class="cart-items">
                                    <% if(user){ %> 
                                    <a href="/cartItems/show?id=<%=user_details._id%>" class="main-btn">
                                        <i class="lni lni-cart"></i>
                                        <% if(cart.length > 0 ){%> 
                                        <span class="total-items"><%=cart.length%></span>
                                        <% }else{ %>
                                        <span class="total-items">0</span>
                                            
                                            <% } %> 
                                    </a>
                                    <!-- Shopping Item -->
                                    <% if(carts.length > 0){ %> 
                                    <div class="shopping-item">
                                        <div class="dropdown-cart-header">
                                            <span>Items</span>
                                            <a href="/cartItems/show?id=<%=user_details._id%>">View Cart</a>
                                        </div>
                                        
                                        <ul class="shopping-list">
                                            <% for(values of carts){ %> 
                                            <li>
                                                <!-- <a href="" class="remove" title="Remove this item"><i
                                                        class="lni lni-close"></i></a> -->
                                                <div class="cart-img-head">
                                                    <a class="cart-img" href="/product/one?id=<%=values.productId._id %>"><img
                                                            src="<%=values.productId.images[0].url%>" alt=""></a>
                                                </div>

                                                <div class="content">
                                                    <h4><a href="/product/one?id=<%=values.productId._id %>">
                                                            <%=values.productId.productName%></a></h4>
                                                    <p class="quantity"><%=values.quantity%>x - <span class="amount">&#x20b9;<%=values.productId.price%></span></p>
                                                </div>
                                            </li>
                                            <% } %> 
                                            <!-- <li>
                                                <a href="javascript:void(0)" class="remove" title="Remove this item"><i
                                                        class="lni lni-close"></i></a>
                                                <div class="cart-img-head">
                                                    <a class="cart-img" href="product-details.html"><img
                                                            src="/images/header/cart-items/item2.jpg" alt="#"></a>
                                                </div>
                                                <div class="content">
                                                    <h4><a href="product-details.html">Wi-Fi Smart Camera</a></h4>
                                                    <p class="quantity">1x - <span class="amount">$35.00</span></p>
                                                </div>
                                            </li> -->
                                        </ul>
                                        <div class="bottom">
                                            <!-- <div class="total">
                                                <span>Total</span>
                                                <span class="total-amount">$134.00</span>
                                            </div> -->
                                            <div class="button">
                                                <a href="/cartItems/show?id=<%=user_details._id%>" class="btn animate">View all</a>
                                            </div>
                                        </div>
                                    </div>
                                    <% } %> 
                                    <% }else{ %> 
                                        <a href="/login" class="main-btn">
                                            <i class="lni lni-cart"></i>
                                            <span class="total-items">0</span>
                                        </a>
                                        
                                        
                                        <% } %> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header Middle -->
        <!-- Start Header Bottom -->
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 col-md-6 col-12">
                    <div class="nav-inner">
                        <!-- Start Mega Category Menu -->
                        <div class="mega-category-menu">
                            <span class="cat-button"><i class="lni lni-menu"></i>All Categories</span>
                            <ul class="sub-category">
                                <!-- <li><a href="product-grids.html">Electronics <i class="lni lni-chevron-right"></i></a>
                                    <ul class="inner-sub-category">
                                        <li><a href="product-grids.html">Digital Cameras</a></li>
                                        <li><a href="product-grids.html">Camcorders</a></li>
                                        <li><a href="product-grids.html">Camera Drones</a></li>
                                        <li><a href="product-grids.html">Smart Watches</a></li>
                                        <li><a href="product-grids.html">Headphones</a></li>
                                        <li><a href="product-grids.html">MP3 Players</a></li>
                                        <li><a href="product-grids.html">Microphones</a></li>
                                        <li><a href="product-grids.html">Chargers</a></li>
                                        <li><a href="product-grids.html">Batteries</a></li>
                                        <li><a href="product-grids.html">Cables & Adapters</a></li>
                                    </ul>
                                </li> -->
                                
                                <% if(cate.length > 0){%>
                                    <% for(values of cate){ %>
                                        <li><a href="/product/viewProduct?id=<%=values._id%>"><%=values.category%></a></li>
                                    <% } %> 
                                    <% } %> 
                                
                                <!-- <li><a href="product-grids.html">Televisions</a></li>
                                <li><a href="product-grids.html">best selling</a></li>
                                <li><a href="product-grids.html">top 100 offer</a></li>
                                <li><a href="product-grids.html">sunglass</a></li>
                                <li><a href="product-grids.html">watch</a></li>
                                <li><a href="product-grids.html">man’s product</a></li>
                                <li><a href="product-grids.html">Home Audio & Theater</a></li>
                                <li><a href="product-grids.html">Computers & Tablets </a></li>
                                <li><a href="product-grids.html">Video Games </a></li>
                                <li><a href="product-grids.html">Home Appliances </a></li> -->
                            </ul>
                        </div>
                        <!-- End Mega Category Menu -->
                        <!-- Start Navbar -->
                        <nav class="navbar navbar-expand-lg">
                            <button class="navbar-toggler mobile-menu-btn" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul id="nav" class="navbar-nav ms-auto">
                                    <li class="nav-item">
                                        <!-- <a href="index.html" class="active" aria-label="Toggle navigation">Home</a> -->
                                    </li>
                                    <li class="nav-item">
                                        <!-- <a class="dd-menu collapsed" href="javascript:void(0)" data-bs-toggle="collapse"
                                            data-bs-target="#submenu-1-2" aria-controls="navbarSupportedContent"
                                            aria-expanded="false" aria-label="Toggle navigation">Pages</a> -->
                                        <ul class="sub-menu collapse" id="submenu-1-2">
                                            <!-- <li class="nav-item"><a href="about-us.html">About Us</a></li>
                                            <li class="nav-item"><a href="faq.html">Faq</a></li>
                                            <li class="nav-item"><a href="login.html">Login</a></li>
                                            <li class="nav-item"><a href="register.html">Register</a></li>
                                            <li class="nav-item"><a href="mail-success.html">Mail Success</a></li>
                                            <li class="nav-item"><a href="404.html">404 Error</a></li> -->
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <!-- <a class="dd-menu collapsed" href="javascript:void(0)" data-bs-toggle="collapse"
                                            data-bs-target="#submenu-1-3" aria-controls="navbarSupportedContent"
                                            aria-expanded="false" aria-label="Toggle navigation">Shop</a> -->
                                        <!-- <ul class="sub-menu collapse" id="submenu-1-3">
                                            <li class="nav-item"><a href="product-grids.html">Shop Grid</a></li>
                                            <li class="nav-item"><a href="product-list.html">Shop List</a></li>
                                            <li class="nav-item"><a href="product-details.html">shop Single</a></li>
                                            <li class="nav-item"><a href="cart.html">Cart</a></li>
                                            <li class="nav-item"><a href="checkout.html">Checkout</a></li>
                                        </ul> -->
                                    </li>
                                    <li class="nav-item">
                                        <!-- <a class="dd-menu collapsed" href="javascript:void(0)" data-bs-toggle="collapse"
                                            data-bs-target="#submenu-1-4" aria-controls="navbarSupportedContent"
                                            aria-expanded="false" aria-label="Toggle navigation">Blog</a> -->
                                        <!-- <ul class="sub-menu collapse" id="submenu-1-4">
                                            <li class="nav-item"><a href="blog-grid-sidebar.html">Blog Grid Sidebar</a>
                                            </li>
                                            <li class="nav-item"><a href="blog-single.html">Blog Single</a></li>
                                            <li class="nav-item"><a href="blog-single-sidebar.html">Blog Single
                                                    Sibebar</a></li>
                                        </ul> -->
                                    </li>
                                    <li class="nav-item">
                                        <a href="/homePage" aria-label="Toggle navigation"></a>
                                    </li>
                                </ul>
                            </div> <!-- navbar collapse -->
                        </nav>
                        <!-- End Navbar -->
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Nav Social -->
                    <div class="nav-social">
                        <h5 class="title">Follow Us:</h5>
                        <ul>
                            <li>
                                <a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><i class="lni lni-instagram"></i></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><i class="lni lni-skype"></i></a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Nav Social -->
                </div>
            </div>
        </div>
        <!-- End Header Bottom -->
    </header>
    
    <!-- Start Breadcrumbs -->
    <div class="breadcrumbs">
      <div class="container">
          <div class="row align-items-center">
              <div class="col-lg-6 col-md-6 col-12">
                  <div class="breadcrumbs-content">
                      <h1 class="page-title">Checkout</h1>
                  </div>
              </div>
              <div class="col-lg-6 col-md-6 col-12">
                  <ul class="breadcrumb-nav">
                      <li><a href="/homePage"><i class="lni lni-home"></i> Home</a></li>
                      <li><a href="/cartItems/show?id=<%=user_details._id%>">Cart</a></li>
                      <li>Checkout</li>
                  </ul>
              </div>
          </div>
      </div>
  </div>
  <!-- End Breadcrumbs -->  
    <!-- End Header Area -->
    <section class="h-100 gradient-custom">
      <div class="container py-5">
        <div class="row d-flex justify-content-center my-4">
          <div class="col-md-8">
            <div class="card mb-4">
              <div class="card-header py-3">
                <h5 class="mb-0">Cart - <%=cart.length  %>  items</h5>
              </div>
              <div class="card-body">
                <!-- Single item -->
                <% for(values of cart) {%> 
                <div class="row">
                  <div class="col-lg-3 col-md-12 mb-4 mb-lg-0">
                    <!-- Image -->
                    <div style="height: 130px; width: 100px;" class="bg-image hover-overlay hover-zoom ripple rounded" data-mdb-ripple-color="light">
                      <img style="height: 130px; width: 100px;" src="<%=values.productId.images[0].url  %> "
                        class="w-100" alt="" />
                      <a href="#!">
                        <div class="mask" style="background-color: rgba(251, 251, 251, 0.2)"></div>
                      </a>
                    </div>
                    <!-- Image -->
                  </div>
    
                  <div class="col-lg-5 col-md-6 mb-4 mb-lg-0">
                    <!-- Data -->
                     
                    <p><strong><%=values.productId.productName  %> </strong></p>
                    <p>specification:<%=values.productId.specifications  %>  </p>
                    <p></p>
                 
                  
                    <!-- Data -->
                  </div>
    
                  <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                    <!-- Quantity -->
                    <div class="d-flex mb-4" style="max-width: 300px">
                     
    
                      <div class="form-outline">
                        <input readonly id="form1" min="0" name="quantity" value="<%=values.quantity%>" type="number" class="form-control" />
                        <label class="form-label" for="form1">Quantity</label>
                      </div>
    
                    
                    </div>
                    <!-- Quantity -->
    
                    <!-- Price -->
                    <p class="text-start text-md-center">
                      <% const total = parseInt(values.quantity)* parseInt(values.productId.price) %> 
                      <strong>&#x20b9;<span><%=total%> </span></strong>
                    </p>
                    <!-- Price -->
                  </div>
                </div>
                <!-- Single item -->
    
                <hr class="my-4" />
                <% } %> 
    
           
              </div>
            </div>
            <div class="card-body mb-2">
                <a href="/address">+Add Shipping address</a>
               </div>
            <% for(values of address){ %> 
              <form id="checkform" action="">
            <div class="card mb-4">
              <div class="card-body">
                <p class="mb-0"><input type="radio" name="address" value=
               "Name:<%=values.fistName%> <%=values.surName%> <%=values.address%>
phone:<%=values.phone%>
email:<%=values.emailId%>
post-code:<%=values.postCode%>"
            
              
                  checked="checked" required /> Address</p>
                <p><strong>Address</strong></p>
                <p class="mb-0"><%=values.fistName%>,<%=values.address%></p>
                <p class="mb-0">Phone Number:<%=values.phone%></p>
                <p class="mb-0">email:<%=values.emailId%></p>
              </div>
            </div>
            <% } %> 
            <!-- <div class="card mb-4">
              <div class="card-body">
                <p><strong>Expected shipping delivery</strong></p>
                <p class="mb-0">12.10.2020 - 14.10.2020</p>
              </div>
            </div> -->
            <!-- <div class="card mb-4 mb-lg-0">
              <div class="card-body">
                <p><strong>Payment Options</strong></p>
                <input required class="mt-3" id="radioButton1" value="COD" type="radio" name="Payment" />Cash on delivery <br>
                <input required class="mt-2" id="radioButton2" type="radio" value="Online_Payment" name="Payment" />Online Payment
            
              </div>
            </div> -->
          </div>
          <div class="col-md-4">
            <div class="card mb-4">
              <div class="card-header py-3">
                <h5 class="mb-0">Summary</h5>

              </div>
              <div class="card-body">
                <p><strong>Payment Options</strong></p>
                <input required class="mt-2" id="radioButton1" value="COD" type="radio" name="Payment" />Cash on delivery <br>
                <input required class="mt-2" id="radioButton2" type="radio" value="Online_Payment" name="Payment" />Online Payment
            
              </div><hr>
              <div class="card-body">
                <ul class="list-group list-group-flush"> 
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                    Products
                    <span><%=subtotal%> <input type="text" name="subtotal" value="<%=subtotal%>" hidden> </span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0">
                    Discount
                    <span class="text-danger">&#x20b9;<%=discount  %> </span>
                  </li>
                  <li class="list-group-item d-flex justify-content-between align-items-center px-0">
                    Shipping
                    <span>Free</span>
                  </li>
                  <li
                    class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3">
                    <div>
                      <strong>Total amount</strong>
                      <strong>
                        <p class="mb-0">(including all taxes)</p>
                      </strong>
                    </div>
                    <span><strong>&#x20b9;<%=totalAmount%> </strong></span>
                  </li>
                </ul>
    
                <button type="submit" class="btn btn-primary btn-lg btn-block">
                  Place order
                </button>
              </div>
            </div>
          </div>
        </form>

        </div>
      </div>
    </section>
   

    <!-- Start Footer Area -->
    <footer class="footer">
        <!-- Start Footer Top -->
        <div class="footer-top">
            <div class="container">
                <div class="inner-content">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-12">
                            <div class="footer-logo">
                                <a href="index.html">
                                    <img src="/images/logo/ezyshop_logo2.png" alt="#">
                                </a>
                            </div>
                        </div>
                    
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Top -->
        <!-- Start Footer Middle -->
        <div class="footer-middle">
            <div class="container">
                <div class="bottom-inner">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-12">
                            <!-- Single Widget -->
                            <div class="single-footer f-contact">
                                <h3>Get In Touch With Us</h3>
                                <p class="phone">Phone: (+91) 7034943897</p>
                                <ul>
                                    <li><span>Monday-Friday: </span> 9.00 am - 8.00 pm</li>
                                    <li><span>Saturday: </span> 10.00 am - 6.00 pm</li>
                                </ul>
                                <p class="mail">
                                    <a href="mailto:support@ezyshop.com">support@ezyShop.com</a>
                                </p>
                            </div>
                            <!-- End Single Widget -->
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <!-- Single Widget -->
                            <!-- <div class="single-footer our-app">
                                <h3>Our Mobile App</h3>
                                <ul class="app-btn">
                                    <li>
                                        <a href="javascript:void(0)">
                                            <i class="lni lni-apple"></i>
                                            <span class="small-title">Download on the</span>
                                            <span class="big-title">App Store</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <i class="lni lni-play-store"></i>
                                            <span class="small-title">Download on the</span>
                                            <span class="big-title">Google Play</span>
                                        </a>
                                    </li>
                                </ul>
                            </div> -->
                            <!-- End Single Widget -->
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <!-- Single Widget -->
                            <div class="single-footer f-link">
                                <h3>Information</h3>
                                <ul>
                                    <li><a href="">About Us</a></li>
                                    <li><a href="">Contact Us</a></li>
                                    <li><a href="">Downloads</a></li>
                                    <li><a href="">Sitemap</a></li>
                                    <li><a href="">FAQs Page</a></li>
                                </ul>
                            </div>
                            <!-- End Single Widget -->
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <!-- Single Widget -->
                            <div class="single-footer f-link">
                                <h3>Shop Departments</h3>
                                <ul>
                                    <% for(values of cate){ %> 
                                    <li><a href="javascript:void(0)"><%=values.category%> </a></li>
                                    <% } %> 
                            </div>
                            <!-- End Single Widget -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Middle -->
        <!-- Start Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="inner-content">
                    <div class="row align-items-center">
                        <div class="col-lg-4 col-12">
                            <div class="payment-gateway">
                                <span>We Accept:</span>
                                <img src="/images/footer/credit-cards-footer.png" alt="#">
                            </div>
                        </div>
                        <div class="col-lg-4 col-12">
                            <div class="copyright">
                                <p>Designed and Developed by<a href="https://graygrids.com/" rel="nofollow"
                                        target="_blank">GrayGrids</a></p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-12">
                            <ul class="socila">
                                <li>
                                    <span>Follow Us On:</span>
                                </li>
                                <li><a href=""><i class="lni lni-facebook-filled"></i></a></li>
                                <li><a href=""><i class="lni lni-twitter-original"></i></a></li>
                                <li><a href=""><i class="lni lni-instagram"></i></a></li>
                                <li><a href=""><i class="lni lni-google"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom -->
    </footer>
    <!--/ End Footer Area -->

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/tiny-slider.js"></script>
    <script src="/js/glightbox.min.js"></script>
    <script src="/js/main.js"></script>
    <script type="text/javascript">
        //========= Hero Slider 
        tns({
            container: '.hero-slider',
            slideBy: 'page',
            autoplay: true,
            autoplayButtonOutput: false,
            mouseDrag: true,
            gutter: 0,
            items: 1,
            nav: false,
            controls: true,
            controlsText: ['<i class="lni lni-chevron-left"></i>', '<i class="lni lni-chevron-right"></i>'],
        });

        //======== Brand Slider
        tns({
            container: '.brands-logo-carousel',
            autoplay: true,
            autoplayButtonOutput: false,
            mouseDrag: true,
            gutter: 15,
            nav: false,
            controls: false,
            responsive: {
                0: {
                    items: 1,
                },
                540: {
                    items: 3,
                },
                768: {
                    items: 5,
                },
                992: {
                    items: 6,
                }
            }
        });
    </script>
       <script>
        let radBtnDefault = document.getElementById("radioButton1");
        radBtnDefault.checked = true;
     </script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


     <script>
      $("#checkform").submit((e)=>{
        e.preventDefault()
        $.ajax({
            url:'/checkout/add',
            method:'POST',
            data:$('#checkform').serialize(),
            success:(response)=>{
                
                if(response.codPayment === true){
                    location.href="/checkout/success/"+response.order._id
                }else{
                    razorpayPayment(response)
                }
            }
        })
      })
      function razorpayPayment(order){
        
        var options = {
    "key": "rzp_test_GEhcxU3Pqyg882", // Enter the Key ID generated from the Dashboard
    "amount":order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
    "currency": "INR",
    "name": "EzyShop",
    "description": "Test Transaction",
    "image": "",
    "order_id": order.id, //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
    "handler": function (response){
        verifyPayment(response,order)
    },
    "prefill": {
        "name": "Gaurav Kumar",
        "email": "gaurav.kumar@example.com",
        "contact": "9999999999"
    },
    "notes": {
        "address": "Razorpay Corporate Office"
    },
    "theme": {
        "color": "#3399cc"
    }
    };
    var rzp1 = new Razorpay(options);
    rzp1.open()

      }
      function verifyPayment(payment,order){
        console.log(payment+order)
        $.ajax({
            url:'/checkout/verifyPayment',
            data:{
                payment,
                order
            },
            method:'post',
            success:(response)=>{
               console.log(response.orderId)
                if(response.success === true){
                  
                    location.href="/checkout/success/"+response.orderId
                }else{
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Payment failed!',
                        showConfirmButton: false,
                        timer: 1500
                    })
                }
            }
        })
      }

     </script>
  


</body>

</html>