<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>ShopGrids - Bootstrap 5 eCommerce HTML Template.</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="/images/favicon.svg" />

    <!-- ========================= CSS here ========================= -->
    <!-- <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/LineIcons.3.0.css" />
    <link rel="stylesheet" href="assets/css/tiny-slider.css" />
    <link rel="stylesheet" href="assets/css/glightbox.min.css" />
    <link rel="stylesheet" href="assets/css/main.css" /> -->

    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/LineIcons.3.0.css" />
    <link rel="stylesheet" href="/css/tiny-slider.css" />
    <link rel="stylesheet" href="/css/glightbox.min.css" />
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/order.css" />
    <link rel="stylesheet" href="/css/modal.css" />
    

</head>

<body>
  

    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- /End Preloader -->

    <!-- Start Header Area -->
    <header class="header navbar-area">
        <!-- Start Topbar -->
        <div class="topbar">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-4 col-md-4 col-12">
                       
                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="top-middle">
                            <ul class="useful-links">
                                <li><a href="/homePage">Home</a></li>
                                <li><a href="about-us.html">About Us</a></li>
                                <li><a href="contact.html">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-4 col-12">
                        <div class="top-end">
                    
                            <ul class="user-login">
                                <% if(user){ %> 
                                    <li>
                                        <i class="lni lni-user "></i>
                                        <a href="/profile?id=<%=user_details._id%>">Profile</a>
                                    </li>
                                    <li>
                                        <form class="text-decoration-none" action="/logout" method="post">
                                            <button class="btn btn-danger">logout</button>
                                          </form>
                                    </li>
                                    <% }else{ %> 
                                    <li>
                                        <a href="/login">Sign In</a>
                                    </li>
                                    <li>
                                        <a href="/register">Register</a>
                                    </li>
                                    <% } %> 
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Topbar -->
        <!-- Start Header Middle -->
        <div class="header-middle">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-3 col-7">
                        <!-- Start Header Logo -->
                        <a class="navbar-brand" href="/homePage">
                            <img src="/images/logo/ezyshop_logo.png" alt="Logo">
                        </a>
                        <!-- End Header Logo -->
                    </div>
                    <div class="col-lg-5 col-md-7 d-xs-none">
                        <!-- Start Main Menu Search -->
                        <div class="main-menu-search">
                            <!-- navbar search start -->
                            <div class="navbar-search search-style-5">
                                <div class="search-select">
                                    <div class="select-position">
                                        <select id="select1">
                                            <option selected>All</option>
                                            <!-- <option value="1">option 01</option>
                                            <option value="2">option 02</option>
                                            <option value="3">option 03</option>
                                            <option value="4">option 04</option>
                                            <option value="5">option 05</option> -->
                                        </select>
                                    </div>
                                </div>
                                <div class="search-input">
                                    <input type="text" class="search" id="search" placeholder="Search" onkeyup="sendData(this)">
                                    <section>
                                        <div style="position: relative;">
                                            <div style="position: absolute;" id="searchSec">

                                            </div>
                                        </div>
                                       
                                    
                                    </section>
                                </div>
                                <div class="search-btn">
                                    <button><i class="lni lni-search-alt"></i></button>
                                </div>
                            </div>
                            <!-- navbar search Ends -->
                        </div>
                        <!-- End Main Menu Search -->
                    </div>
                    <div class="col-lg-4 col-md-2 col-5">
                        <div class="middle-right-area">
                            <div class="nav-hotline">
                                <i class="lni lni-phone"></i>
                                <h3>Hotline:
                                    <span>(+91) 7034943897</span>
                                </h3>
                            </div>
                            <div class="navbar-cart">
                                <div class="wishlist">
                                    <% if(user){ %> 
                                        <a href="/wishlist/show?id=<%=user_details._id%>">
                                            <i class="lni lni-heart"></i>
                                            <% if(wishlist){ %> 
                                            <% if(wishlist.length > 0 ){ %> 
                                            <span class="total-items"><%=wishlist.length  %></span>
                                            <% }else{ %>
                                            <span class="total-items">0</span>
                                            <% }}else{ %>
                                            <span class="total-items">0</span>
                                                
                                                <% } %> 
                                        </a>
                                        <% }else{ %>
                                        <a href="/login">
                                            <i class="lni lni-heart"></i>
                                            <span class="total-items">0</span>
                                        </a>
                                        <% } %> 
                                </div>
                                <div class="cart-items">
                                    <% if(user){ %> 
                                        <a href="/cartItems/show?id=<%=user_details._id%>" class="main-btn">
                                            <i class="lni lni-cart"></i>
                                            <% if(cart){ %> 
                                            <% if(cart.length > 0 ){%> 
                                            <span class="total-items"><%=cart.length%></span>
                                            <% }else{ %>
                                                <span class="total-items">0</span>
                                                    
                                                    <% }}else{ %>
                                                <span class="total-items">0</span>
                                                        <% } %> 
                                        </a>
                                    <!-- Shopping Item -->
                                    <% if(carts){ %> 
                                    <% if(carts.length > 0){ %> 
                                    <div class="shopping-item">
                                        <div class="dropdown-cart-header">
                                            <span>Items</span>
                                            <a href="/cartItems/show?id=<%=user_details._id%>">View Cart</a>
                                        </div>
                                        
                                        <ul class="shopping-list">
                                            <% for(values of carts){ %> 
                                            <li>
                                                <!-- <a href="" class="remove" title="Remove this item"><i
                                                        class="lni lni-close"></i></a> -->
                                                <div class="cart-img-head">
                                                    <a class="cart-img" href="/product/one?id=<%=values.productId._id %>"><img
                                                            src="<%=values.productId.images[0].url%>" alt=""></a>
                                                </div>

                                                <div class="content">
                                                    <h4><a href="/product/one?id=<%=values.productId._id %>">
                                                            <%=values.productId.productName%></a></h4>
                                                    <p class="quantity"><%=values.quantity%>x - <span class="amount">&#x20b9;<%=values.productId.price%></span></p>
                                                </div>
                                            </li>
                                            <% } %> 
                                            <!-- <li>
                                                <a href="javascript:void(0)" class="remove" title="Remove this item"><i
                                                        class="lni lni-close"></i></a>
                                                <div class="cart-img-head">
                                                    <a class="cart-img" href="product-details.html"><img
                                                            src="/images/header/cart-items/item2.jpg" alt="#"></a>
                                                </div>
                                                <div class="content">
                                                    <h4><a href="product-details.html">Wi-Fi Smart Camera</a></h4>
                                                    <p class="quantity">1x - <span class="amount">$35.00</span></p>
                                                </div>
                                            </li> -->
                                        </ul>
                                        <div class="bottom">
                                            <!-- <div class="total">
                                                <span>Total</span>
                                                <span class="total-amount">$134.00</span>
                                            </div> -->
                                            <div class="button">
                                                <a href="/cartItems/show?id=<%=user_details._id%>" class="btn animate">View all</a>
                                            </div>
                                        </div>
                                    </div>
                                    <% }} %> 
                                    <% }else{ %> 
                                        <a href="/login" class="main-btn">
                                            <i class="lni lni-cart"></i>
                                            <span class="total-items">0</span>
                                        </a>
                                        
                                        
                                        <% } %> 
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Header Middle -->
        <!-- Start Header Bottom -->
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-8 col-md-6 col-12">
                    <div class="nav-inner">
                        <!-- Start Mega Category Menu -->
                        <div class="mega-category-menu">
                            <span class="cat-button"><i class="lni lni-menu"></i>All Categories</span>
                            <ul class="sub-category">
                          
                                
                                <% if(cate.length > 0){%>
                                    <% for(values of cate){ %>
                                        <li><a href="/product/viewProduct?id=<%=values._id%>"><%=values.category%></a></li>
                                    <% } %> 
                                    <% } %> 
                                
                                <!-- <li><a href="product-grids.html">Televisions</a></li>
                                <li><a href="product-grids.html">best selling</a></li>
                                <li><a href="product-grids.html">top 100 offer</a></li>
                                <li><a href="product-grids.html">sunglass</a></li>
                                <li><a href="product-grids.html">watch</a></li>
                                <li><a href="product-grids.html">man’s product</a></li>
                                <li><a href="product-grids.html">Home Audio & Theater</a></li>
                                <li><a href="product-grids.html">Computers & Tablets </a></li>
                                <li><a href="product-grids.html">Video Games </a></li>
                                <li><a href="product-grids.html">Home Appliances </a></li> -->
                            </ul>
                        </div>
                        <!-- End Mega Category Menu -->
                        <!-- Start Navbar -->
                        <nav class="navbar navbar-expand-lg">
                            <button class="navbar-toggler mobile-menu-btn" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul id="nav" class="navbar-nav ms-auto">
                                    <li class="nav-item">
                                        <!-- <a href="index.html" class="active" aria-label="Toggle navigation">Home</a> -->
                                    </li>
                                    <li class="nav-item">
                                        <!-- <a class="dd-menu collapsed" href="javascript:void(0)" data-bs-toggle="collapse"
                                            data-bs-target="#submenu-1-2" aria-controls="navbarSupportedContent"
                                            aria-expanded="false" aria-label="Toggle navigation">Pages</a> -->
                                        <ul class="sub-menu collapse" id="submenu-1-2">
                                            <!-- <li class="nav-item"><a href="about-us.html">About Us</a></li>
                                            <li class="nav-item"><a href="faq.html">Faq</a></li>
                                            <li class="nav-item"><a href="login.html">Login</a></li>
                                            <li class="nav-item"><a href="register.html">Register</a></li>
                                            <li class="nav-item"><a href="mail-success.html">Mail Success</a></li>
                                            <li class="nav-item"><a href="404.html">404 Error</a></li> -->
                                        </ul>
                                    </li>
                                    <li class="nav-item">
                                        <!-- <a class="dd-menu collapsed" href="javascript:void(0)" data-bs-toggle="collapse"
                                            data-bs-target="#submenu-1-3" aria-controls="navbarSupportedContent"
                                            aria-expanded="false" aria-label="Toggle navigation">Shop</a> -->
                                        <!-- <ul class="sub-menu collapse" id="submenu-1-3">
                                            <li class="nav-item"><a href="product-grids.html">Shop Grid</a></li>
                                            <li class="nav-item"><a href="product-list.html">Shop List</a></li>
                                            <li class="nav-item"><a href="product-details.html">shop Single</a></li>
                                            <li class="nav-item"><a href="cart.html">Cart</a></li>
                                            <li class="nav-item"><a href="checkout.html">Checkout</a></li>
                                        </ul> -->
                                    </li>
                                    <li class="nav-item">
                                        <!-- <a class="dd-menu collapsed" href="javascript:void(0)" data-bs-toggle="collapse"
                                            data-bs-target="#submenu-1-4" aria-controls="navbarSupportedContent"
                                            aria-expanded="false" aria-label="Toggle navigation">Blog</a> -->
                                        <!-- <ul class="sub-menu collapse" id="submenu-1-4">
                                            <li class="nav-item"><a href="blog-grid-sidebar.html">Blog Grid Sidebar</a>
                                            </li>
                                            <li class="nav-item"><a href="blog-single.html">Blog Single</a></li>
                                            <li class="nav-item"><a href="blog-single-sidebar.html">Blog Single
                                                    Sibebar</a></li>
                                        </ul> -->
                                    </li>
                                    <li class="nav-item">
                                        <a href="/homePage" aria-label="Toggle navigation"></a>
                                    </li>
                                </ul>
                            </div> <!-- navbar collapse -->
                        </nav>
                        <!-- End Navbar -->
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-12">
                    <!-- Start Nav Social -->
                    <div class="nav-social">
                        <h5 class="title">Follow Us:</h5>
                        <ul>
                            <li>
                                <a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><i class="lni lni-instagram"></i></a>
                            </li>
                            <li>
                                <a href="javascript:void(0)"><i class="lni lni-skype"></i></a>
                            </li>
                        </ul>
                    </div>
                    <!-- End Nav Social -->
                </div>
            </div>
        </div>
        <!-- End Header Bottom -->
    </header>
    <!-- End Header Area -->
    <div class="breadcrumbs">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6 col-md-6 col-12">
                    <div class="breadcrumbs-content">
                        <h1 class="page-title">My Orders</h1>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                    <ul class="breadcrumb-nav">
                        <li><a href="/homePage"><i class="lni lni-home"></i> Home</a></li>
                        
                        <li>My Orders</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="container mt-5">


        <table class="table table-borderless main">
            <% if(order){ %> 
            <% if(order.length > 0){ %> 
  <thead>
    <tr class="head">
      <th scope="col" class="ml-2">
          
        

      </th>
      <th scope="col">Order ID</th>
      <th scope="col">Date</th>
      <th scope="col">Payment Type</th>
      <th scope="col">Order Status</th>
      <th scope="col">Total Amount</th>
      <th scope="col">Products</th>
      <th scope="col">Cancel Order</th>
      
      <th scope="col">Payment Status</th>
    </tr>
  </thead>
  <% }}else{ %> 
    
    <% } %> 
  <tbody>
    
    <% for(values of order){ %> 
    <tr class="rounded bg-white">
      <th scope="row">
         
      </th>
      <td id="ids" class="order-color"><%=values._id  %> </td>
      <td><%=values.date.toDateString()%></td>
   
      <td>
        <% if(values.paymentStatus === 'COD'){ %> 
         Cash on delivery
         <% }else{ %>
            Razorpay
            <% } %>  
      </td>
      <td>
       
            <p><span id="order-status" class="badge bg-warning"><%=values.orderStatus %> </span></p>
      
        
      </td>
      <td>&#x20b9;<%=values.total_price  %> </td>
      <td> <!-- Button trigger modal -->
        <button id="odbutton" onclick="getId('<%=values._id%>')" value="<%=values._id%>" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal<%=values._id%> ">
          View
        </button>
        
        <!-- Modal -->
        
       
        <div class="modal fade" id="exampleModal<%=values._id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-xl">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Order Details</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <section class="h-100 gradient-custom">
                    <div class="container py-3 h-100">
                      <div class="row d-flex justify-content-center align-items-center h-100">
                        <div class="col-lg-10 col-xl-8">
                          <div class="card" style="border-radius: 10px;">
                            <div class="card-header px-4 py-3">
                              <h5 class="text-muted mb-0">Thanks for your Order, <span style="color: #a8729a;" ><%=user_details.name%></span>!</h5>
                            </div>
                            <div class="card-body p-4">
                              <div class="d-flex justify-content-between align-items-center mb-4">
                                <p class="lead fw-normal mb-0" style="color: #a8729a;">Order Details</p>
                              </div>

                              <div id="products<%=values._id%>">
                                
                              </div>
                          
                              
                                
                                  
                                </div>
                              </div>
                           
                           
                  
                              <div class="d-flex justify-content-between pt-2">
                                <p class="fw-bold mb-0">Order Details</p>
                                <p class="text-muted mb-0"><span class="fw-bold me-4">Total</span> &#x20b9;<%=values.total_price  %>  </p>
                              </div>
                  
                              <div class="d-flex justify-content-between pt-2">
                                <p class="text-muted mb-0">Order Number : <%=values._id%> </p>
                                <p class="text-muted mb-0"><span class="fw-bold me-4">Discount</span> &#x20b9;<%=values.discount%></p>
                              </div>
                  
                              <!-- <div class="d-flex justify-content-between">
                                <p class="text-muted mb-0">Invoice Date : 22 Dec,2019</p>
                                <p class="text-muted mb-0"><span class="fw-bold me-4">GST 18%</span> 123</p>
                              </div> -->
                  
                              <div class="d-flex justify-content-between mb-5">
                                <p class="text-muted mb-0">Order Date:<%=values.date.toDateString()  %> </p>
                                <p class="text-muted mb-0"><span class="fw-bold me-4">Delivery Charges</span> Free</p>
                              </div>
                            </div>
                            <div class="card-footer border-0 px-2 py-2"
                              style="background-color: #000000; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px;">
                              <h5 class="d-flex align-items-center justify-content-end text-white mb-0">Total
                                paid : <span class="h4 mb-0 ms-2">&#x20b9;<%=values.total_price  %></span></h5>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </section>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
    </td>
    <td><% if(values.orderStatus === 'ordered'||values.orderStatus === 'packed'){ %> 
        <a onclick="cancelOrder('<%=values._id%>')"><span class="badge bg-danger text-decoration-none">Cancel</span></a></td>
        <% }else{ %>
            <p><span class="badge bg-secondary text-decoration-none">Cancel</span></p>
            <% } %>
      <td><% if(values.is_complited === false){ %> 
        <p><span class="badge bg-danger">Pending</span></p>
        
        <% }else{ %>
            <span class="badge bg-success">Success</span>
           <% } %>  </td>

    </tr>

<% } %> 


  </tbody>
</table>

        

    </div>
   

    <!-- Start Footer Area -->
    <footer class="footer">
        <!-- Start Footer Top -->
        <div class="footer-top">
            <div class="container">
                <div class="inner-content">
                    <div class="row">
                        <div class="col-lg-3 col-md-4 col-12">
                            <div class="footer-logo">
                                <a href="index.html">
                                    <img src="/images/logo/ezyshop_logo2.png" alt="#">
                                </a>
                            </div>
                        </div>
                        <!-- <div class="col-lg-9 col-md-8 col-12">
                            <div class="footer-newsletter">
                                <h4 class="title">
                                    Subscribe to our Newsletter
                                    <span>Get all the latest information, Sales and Offers.</span>
                                </h4>
                                <div class="newsletter-form-head">
                                    <form action="#" method="get" target="_blank" class="newsletter-form">
                                        <input name="EMAIL" placeholder="Email address here..." type="email">
                                        <div class="button">
                                            <button class="btn">Subscribe<span class="dir-part"></span></button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div> -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Top -->
        <!-- Start Footer Middle -->
        <div class="footer-middle">
            <div class="container">
                <div class="bottom-inner">
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-12">
                            <!-- Single Widget -->
                            <div class="single-footer f-contact">
                                <h3>Get In Touch With Us</h3>
                                <p class="phone">Phone: +1 (900) 33 169 7720</p>
                                <ul>
                                    <li><span>Monday-Friday: </span> 9.00 am - 8.00 pm</li>
                                    <li><span>Saturday: </span> 10.00 am - 6.00 pm</li>
                                </ul>
                                <p class="mail">
                                    <a href="mailto:support@shopgrids.com">support@shopgrids.com</a>
                                </p>
                            </div>
                            <!-- End Single Widget -->
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <!-- Single Widget -->
                            <!-- <div class="single-footer our-app">
                                <h3>Our Mobile App</h3>
                                <ul class="app-btn">
                                    <li>
                                        <a href="javascript:void(0)">
                                            <i class="lni lni-apple"></i>
                                            <span class="small-title">Download on the</span>
                                            <span class="big-title">App Store</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0)">
                                            <i class="lni lni-play-store"></i>
                                            <span class="small-title">Download on the</span>
                                            <span class="big-title">Google Play</span>
                                        </a>
                                    </li>
                                </ul>
                            </div> -->
                            <!-- End Single Widget -->
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <!-- Single Widget -->
                            <div class="single-footer f-link">
                                <h3>Information</h3>
                                <ul>
                                    <li><a href="">About Us</a></li>
                                    <li><a href="">Contact Us</a></li>
                                    <li><a href="">Downloads</a></li>
                                    <li><a href="">Sitemap</a></li>
                                    <li><a href="">FAQs Page</a></li>
                                </ul>
                            </div>
                            <!-- End Single Widget -->
                        </div>
                        <div class="col-lg-3 col-md-6 col-12">
                            <!-- Single Widget -->
                            <div class="single-footer f-link">
                                <h3>Shop Departments</h3>
                                <ul>
                                    <%for(values of cate ){ %> 
                                    <li><a href=""><%=values.category  %> </a></li>
                                        <% } %> 
                                </ul>
                            </div>
                            <!-- End Single Widget -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Middle -->
        <!-- Start Footer Bottom -->
        <div class="footer-bottom">
            <div class="container">
                <div class="inner-content">
                    <div class="row align-items-center">
                        <div class="col-lg-4 col-12">
                            <div class="payment-gateway">
                                <span>We Accept:</span>
                                <img src="/images/footer/credit-cards-footer.png" alt="#">
                            </div>
                        </div>
                        <div class="col-lg-4 col-12">
                            <div class="copyright">
                                <p>Designed and Developed by<a href="https://graygrids.com/" rel="nofollow"
                                        target="_blank">GrayGrids</a></p>
                            </div>
                        </div>
                        <div class="col-lg-4 col-12">
                            <ul class="socila">
                                <li>
                                    <span>Follow Us On:</span>
                                </li>
                                <li><a href="javascript:void(0)"><i class="lni lni-facebook-filled"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="lni lni-twitter-original"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="lni lni-instagram"></i></a></li>
                                <li><a href="javascript:void(0)"><i class="lni lni-google"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Bottom -->
    </footer>
    <!--/ End Footer Area -->

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    
   
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/tiny-slider.js"></script>
    <script src="/js/glightbox.min.js"></script>
    <script src="/js/main.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function getId(id){
           
            let pro = document.getElementById("products"+id)
            console.log(pro)
            fetch('/checkout/'+id, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body:JSON.stringify({id})
                }).then(res => res.json()).then(data => {
                   if(data.carts){
                    const cartItems = data.carts 

                    let table =`<div>`
                                
                                for(value of cartItems){
                                    
                                    table+= `<divclass="card shadow-0 border mb-4"><div  class="card-body"><div class="row">
                                    <div class="col-md-2"> <img style="height:100px;" src="${value.productId.images[0].url} "
                                        class="img-fluid" alt="Phone">
                                    </div>
                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                      <p class="text-muted mb-0">${value.productId.productName} </p>
                                    </div>
                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                      <p class="text-muted mb-0 small"></p>
                                    </div>
                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                      <p class="text-muted mb-0 small"></p>
                                    </div>
                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                      <p class="text-muted mb-0 small">Qty: ${value.quantity} </p>
                                    </div>
                                    <div class="col-md-2 text-center d-flex justify-content-center align-items-center">
                                      <p class="text-muted mb-0 small">${value.productId.price} </p><br><br>
                                      
                                    </div>
                                  </div></div></div>`
                                }
                                table +=`</div>`
                                
                    pro.innerHTML = table
                   }
                });
        }
    </script>

    <script>
        function cancelOrder(id){
            console.log("button")
             fetch('/checkout/cancel/'+id, {
                method: 'POST',
                headers: { 'Content-Type': 'application/json' },
                body: JSON.stringify({ hey:"hdi" })
                }).then(res => res.json()).then(data => {
                    if(data.success===true){
                        location.reload()
                    }
                    
                });
        }
    </script>
    <script>
        function sendData(e){
            const searchResult = document.getElementById('searchSec')
            let match = e.value.match(/\s*/);
            if(match[0] === e.value){
                searchResult.innerHTML = "";
                return
            }
            fetch('/searchProducts',{
                method:'POST',
                headers:{'content-type':'application/json'},
                body:JSON.stringify({payload:e.value})
            }).then(res=>res.json()).then(data=>{
                let payload = data.payload
                searchResult.innerHTML = "";
                if(payload.length < 1 ){
                    searchResult.innerHTML ='<p>Sorry.Nothing found';
                        return;
                }
                payload.forEach((items,index)=>{
                    if(index > 0) searchResult.innerHTML +='<br><br>';
                    searchResult.innerHTML += `<a href="/product/one?id=${items._id}">${items.productName}</a>`
                })
                return;
            })
        }
    </script>
    <script>
        const orderId = document.getElementById("ids").innerHTML
    </script>

    <script type="text/javascript">
        //========= Hero Slider 
        tns({
            container: '.hero-slider',
            slideBy: 'page',
            autoplay: true,
            autoplayButtonOutput: false,
            mouseDrag: true,
            gutter: 0,
            items: 1,
            nav: false,
            controls: true,
            controlsText: ['<i class="lni lni-chevron-left"></i>', '<i class="lni lni-chevron-right"></i>'],
        });

        //======== Brand Slider
        tns({
            container: '.brands-logo-carousel',
            autoplay: true,
            autoplayButtonOutput: false,
            mouseDrag: true,
            gutter: 15,
            nav: false,
            controls: false,
            responsive: {
                0: {
                    items: 1,
                },
                540: {
                    items: 3,
                },
                768: {
                    items: 5,
                },
                992: {
                    items: 6,
                }
            }
        });
    </script>
    
</body>

</html>